@{
    ViewData["Title"] = "About Us";
}

<h2>About Us</h2>
<p>
    Group 7: The project focuses on developing a web-based Password Manager &amp; Strength Analyzer. The website will have user types such as:
    <strong>Registered users</strong> – use the application to store their passwords and analyse their strength;
    <strong>Admins</strong> – have full control over the application, including user management and system settings; and
    <strong>Guests</strong> – who can assess their password strength without storing it.
</p>